/* 
* @Author: dell
* @Date:   2015-08-05 16:10:08
* @Last Modified by:   dell
* @Last Modified time: 2015-09-02 17:33:35
*/
body,html{
	background: #fff;
}
.main{
	margin:0 auto;
	min-width: 860px;
}

.position{
	width:auto;
	line-height: 44px;
	height: 44px;
	padding-left: 50px;
	background: #F7F7F7;
	border-bottom: 1px solid #D2D2D2;

}
.main {
	color: #333333;
	background: #fff;
}
.main  .container{
	margin:30px 25px 0 25px;
	width:auto;
	
	padding-bottom: 25px; 
}
.container_title{
	width:auto;
	height: 38px;
	background: #fff;
	line-height: 36px;
	font-weight: bold;
	 margin-bottom: 15px;
	border:1px solid #E9E9E9;
}
.container_title h2{
	line-height: 38px;
	margin-left:22px;
	color: #3367CC;
	font-size: 16px; 
}
.container_top{
	width:auto;
	background: #fff;
}
.container_top p{
	height: 100%;
	line-height: 36px;
	padding-left: 22px;width: auto;
}

.container_top .bound{
	width: 100%;
	height: 34px;
	border-bottom:1px solid #E9E9E9 ;
	line-height: 34px;
	background: #FCFCFC;

}
.container_top .bound div{
	width: 144px;
	background: #fff;
	border-right: 1px solid #E9E9E9;
	text-align: center;
	float: left;
	background: #F1F1F1;
	display: inline-block;
}
.container_top .bound .bound_current{
	color: #3367CD;
	background: #fff;
	border-bottom: 1px solid #fff;
}

.container_main{
	border:1px solid #E9E9E9 ;
}
 
.container_bottom{
	border-top:1px solid #E9E9E9;

	padding:25px 0;
}
.container_bottom .container_bottom_main{
	width: 100%;
	margin:0 auto;	
}

.container_bottom .describe{
	width:auto;
	margin:0 auto;
	height:100px;
	border-bottom:1px solid #E9E9E9 ;
	padding-left:22px;
}
.container_bottom .describe h2{
	margin:17px 0 19px 0;
	font-size: 12px;
	font-weight: normal;

}
.container_bottom .describe .note{
	color: #FE6500;
}
.container_bottom .describe li{
	font-size: 12px;
	line-height: 19px;
}
.container_bottom .form{
	padding-left: 22px;
}
.container_bottom .form input{
	display: inline-block;
	width: 135px;
	height: 23px;
	border-radius: 3px;
	border:1px solid #EBEBEB;
	margin:10px auto;
}
.container_bottom .form #txt_sub{
	margin-top: 30px;
	background: #227ADC;
	color: #fff;
	width: 80px;
	height: 30px;
	margin-left: 54px;
}
.email{
	 border: 1px solid #ebebeb;
    border-radius: 3px;
    display: inline-block;
    height: 23px;
    margin: 10px auto;
    width: 135px;
    font-size: 10px;
    line-height: 23px;
    background: #fff;
}
