/* 
* @Author: dell
* @Date:   2015-09-30 10:08:23
* @Last Modified by:   dell
* @Last Modified time: 2015-09-30 10:12:36
*/
.intro_info .txt{
	font-size: 15px;
	line-height: 27px;
	color:#292929;
}
.intro_info  h2{
	font-size: 15px;
}