/* 
* @Author: dell
* @Date:   2015-08-05 16:10:08
* @Last Modified by:   dell
* @Last Modified time: 2015-09-12 13:03:34
*/
html,body{

}
.use_head{
    width: 100%;
    height:59px;
    background: #F7F7F7;
    border-bottom: 1px solid #E6E5EA;
    text-align: center;
}
.use_head ul{
    width: 330px;
    margin:0 auto;
}
.use_head ul li{
    margin-left:-6px;
    width: 108px;
    height: 31px;
    display: inline-block;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
    padding: 14px 26px;
    line-height: 28px;
    cursor: pointer;
    color: #979797;
    font-size: 16px;

}
.use_head ul li:hover{
    background: url(../images/use_bg.jpg);
    color:#19BDD8;
}
.li_current{
    background: url(../images/use_bg.jpg);
    color:#19BDD8;
}
.use_head ul li .intro_icon{
    width: 32px;
    height: 28px;
    background: url("../images/use_icon.png") no-repeat scroll -1px -29px;
    float: left;
}
.intro_icon_hover{
   background: url("../images/use_icon.png") no-repeat scroll -1px 0px; 
}
.use_head ul li .method_icon{
    width: 32px;
    height: 28px;
    background: url("../images/use_icon.png") no-repeat scroll -1px -87px;
    float: left;
}
.method_icon_hover{
    background: url("../images/use_icon.png") no-repeat scroll -1px -59px;
}
.intro_info .pic{
    background: rgba(0, 0, 0, 0) url("../images/b.jpg") repeat scroll 0 0 / 100% 100%;
    height: 370px;
    min-width: 1300px;
    width: 100%;
}
.intro_info .txt h2{
    color:#333333;
    margin:10px auto;
    font-weight: normal;
}
.intro_info .txt{
    width: 780px;
    margin:100px auto;
    color:#323232;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.main{
    background:#fff;
}

.navbar {
    margin-bottom: 0;
}
.container {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height:auto;
}
.title {
    background-color: #ebf0f4;
    margin-bottom: 20px;
    padding-bottom: 30px;
    padding-top: 70px;
    width: 100%;
}
.title .block-title {
    color: #333333;
    font-size: 20px;
    text-align: center;
}
.talent-qa .sign-type {
    margin: 20px auto 0;
    text-align: center;
}
.talent-qa .sign-type .tag {
    background: white none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    margin: 0 8px;
    position: relative;
    width: 280px;
}
.talent-qa .sign-type .tag.selected {
    background-color: #28bfdb;
    color: white;
    cursor: default;
}
.talent-qa .sign-type .tag.selected .glyphicon-arrow-down {
    visibility: visible;
}
.talent-qa .talent-qa-list {
    margin: auto;
    width: 750px;
}
.talent-qa .talent-qa-list .qa-icon {
    margin-right: 10px;
}
.talent-qa .talent-qa-list .qa-container {
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
}
.talent-qa .talent-qa-list .qa-question div {
    display: inline-block;
    vertical-align: top;
}
.talent-qa .talent-qa-list .qa-question .question-icon {
    background: rgba(0, 0, 0, 0) url("../images/question.png") no-repeat scroll 0 0 / 28px 28px;
    height: 28px;
    width: 28px;
}
.talent-qa .talent-qa-list .qa-question .question-content {
    color: #000000;
    cursor: pointer;
    width: 675px;
}
.talent-qa .talent-qa-list .qa-question .question-content p {
    font-size: 20px;
    margin: 0;
}
.talent-qa .talent-qa-list .qa-question .question-content:hover {
    color: #1fbcda;
}
.talent-qa .talent-qa-list .qa-answer {
    display: none;
    margin-top: 15px;
}
.talent-qa .talent-qa-list .qa-answer div {
    display: inline-block;
    vertical-align: top;
}
.talent-qa .talent-qa-list .qa-answer .answer-icon {
    background: rgba(0, 0, 0, 0) url("../images/answer.png") no-repeat scroll 0 0 / 28px 28px;
    height: 28px;
    width: 28px;
}
.talent-qa .talent-qa-list .qa-answer .answer-content {
    width: 675px;
}
.talent-qa .talent-qa-list .qa-answer .answer-content p {
    font-size: 18px;
    margin: 4px 0;
}
.talent-qa .qa-more {
    margin-top: 80px;
    text-align: center;
}
.talent-qa .qa-more a {
    color: #a9a9a9;
    font-size: 14px;
    text-decoration: underline;
}


