/* 
* @Author: dell
* @Date:   2015-08-05 16:10:08
* @Last Modified by:   dell
* @Last Modified time: 2015-09-18 20:54:11
*/
body,html{
	background: #fff;
}
.main{
	margin:0 auto;
}

.position{
	width:auto;
	line-height: 44px;
	height: 44px;
	padding-left: 50px;
	background: #F7F7F7;
	border-bottom: 1px solid #D2D2D2;
}
.main {
	color: #333333;
	background: #fff;
	padding-bottom: 25px; 
}
/* .main  .container{
	margin:30px 25px 0 235px;
	width:auto;	
	height:100%;
	padding-bottom: 25px; 
	border:1px solid #E9E9E9 ;

} */
.container_top{
	width:auto;
	height: 63px;
	background: #fff;
	line-height: 36px;
	font-weight: bold;
	margin-bottom:4px;
}

.container_top .recharge{
	width: 100%;
	height: 34px;
	border-bottom:1px solid #E9E9E9;
	line-height: 34px;
	background: #FCFCFC;
}
.container_top .recharge div{
	width: 144px;
	background: #fff;
	border-right: 1px solid #E9E9E9;
	text-align: center;
	float: left;
	background: #F1F1F1;
	display: inline-block;
	cursor: pointer;
}
.container_top .recharge .recharge_current{
	color: #3367CD;
	background: #fff;
	border-bottom: 1px solid #fff;
}
.container_bottom{
	width: 90%;
	margin:0 auto;
	height:530px;	
	margin:15px auto 0 auto;
}

.container_bottom .recharge_online{
	width:auto;
	margin:0 auto;
	height:28px; 
	border-bottom:1px solid #E9E9E9;
	padding-left: 22px;
	line-height: 28px;
}
.container_bottom .describe{
	width:auto;
	margin:0 auto;
	height:137px;
	border-bottom:1px solid #E9E9E9 ;
	line-height:0;
	padding-left:22px;
}
.container_bottom .describe h2{
	margin:17px 0 19px 0;
	font-size: 12px;
	font-weight: normal;

}
.container_bottom .describe .note{
	color: #FE6500;
}
.container_bottom .describe li{
	font-size: 12px;
	line-height: 19px;
}
.container_bottom  .method{
	width:90%;
	margin:0 auto;
	padding: 30px 0 0 100px;
}
.container_bottom  .zfb{
	width: 100%;
	height: 42px;
	line-height: 42px;
	margin-bottom: 20px;
}
.container_bottom .form{
	width: 580px;
	height: 30px;
	position: relative;
}
.container_bottom .form input{
	display: inline-block;
	width: 135px;
	height: 23px;
	border-radius: 3px;
	border:1px solid #EBEBEB;
}
.container_bottom .form label{

}
.zf_intro{
	width:290px;
	position: absolute;
	right:0;
	top:-12px;
	font-size:14px;
}
.container_bottom .form #txt_sub{
	margin-top: 30px;
	background: #227ADC;
	color: #fff;
	width: 80px;
	height: 30px;
	margin-left: 54px;
	cursor: pointer;
}
.main  .container .container_bottom_record table{
	width:100%;
	border:1px solid #E9E9E9;
	border-bottom: none; 
	text-align: center;
	margin-top: 14px;
	background: #FCFCFC;

}
.main  .container .container_bottom_record table tr{
	height: 45px;
}
.container_bottom_record table tr td,.container_bottom_record table tr th{
	border-bottom:1px solid #E9E9E9; 
	height: 30px; 
}
.container_bottom_record .total{
	width: 100%;
	margin:0 auto;
	height: 21px;
	margin-top: 5px;
}
.container_bottom_record .total p{
	display: inline-block;
}
.container_bottom .total .fenye{
	float: right;
	width:auto;
	height: 21px;
	overflow: hidden;
}
.container_bottom_record .total .fenye span img{
	display: inline-block;
}
.container_bottom_record .total .fenye .page_num{
	width: 21px;
	height: 21px;
	display: inline-block;
	background: #227ADC;
	text-align: center;
	line-height: 21px;
	color: #fff;
	margin:0 3px;
}
.date{
	margin-top: 10px;
}
.container_bottom_want{
	border:1px solid #E9E9E9; 
}
.container_main{
	border:1px solid #E9E9E9; 
}


.scan_code{
	margin:10px 0;
	width: 580px;
}
.scan_code p,.scan_code u,.scan_code span{
	display: inline-block;

}
.scan_code u{
	color: #3465CB;
}
.course{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
}
.course img{
	margin:auto auto;
}

.scan_code .intro{
	float: right;
	width: 290px;
	height: 78px;
	padding: 15px 0;
}
.query_course{
	cursor: pointer;
}
.query_course img{
	margin-top: 5px;
}

.course{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.18);
	margin:auto auto;
	padding-top:150px;

}
